*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

html{
    scroll-behavior: smooth;
}

body 
{
    text-align: center;     
    background-color: #0c0d0f;
    max-width: max-content;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.biglogo{
    max-width: 80%;
    margin: 0;
    text-align: center;
    padding-top: 10%;
    position: relative;
    /* top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.comingSoon{
    display: inline;
    margin: 0;
    padding: 0;
    letter-spacing: 2.3rem;
    position: absolute;
    right: 27%;
    top: 70%;
   
}

.smalllogo{
    height: 70px;
    width: 80px;
}

.navbar{
    padding: 10px 10%;
    backdrop-filter: saturate(180%) blur(5px);
    box-sizing: border-box;
    /* box-shadow: inset 0 -1px 0 0 hsla(0,0%,100%,0.1); */
    transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
    transition-property: box-shadow, background-color;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

.navMenu a{
    position: relative;
    text-decoration: none;
    color: rgba(202,206,221,.8);
    font-family: Raleway,sans-serif;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0 7px;
}

.navMenu a:after{
    content: "";
    position: absolute;
    background-color: #f69332;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navMenu a:hover:after{
    width: 100%;
}
.navMenu a:hover{
    color: #f1f1f1;
    /* transition: all .2s linear; */
}

#toggler,
    .navBarContent label{
        display: none;
    }

.display, .about_container, .faq, .contact{
    height: 80vh;
    width: 80%;
    padding: 20px;
}


.display{
    /* background: linear-gradient(0deg, rgba(0, 0, 0 ,0.95) ,  rgba(0, 0, 0 ,0.63),  rgba(0, 0, 0 ,0.38),  rgba(0, 0, 0 ,0.65) ) ,url('/images/Display1.png') no-repeat;  */
    /* background: url('/images/Display.png') no-repeat ; */
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/Display.png) no-repeat ;
    width: 100%;
    height: 100vh;
    background-size: cover; 
    background-position: center;
}

.about_info{
    padding-right: 20px;
    height: 400px;
    width: 100%;
    background-color: #121212;
    box-shadow: 4px 4px 10px #000, -2px -2px 10px #000;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
}

.vertical_bar{
    height: 400px; 
    width: 3%; 
    background-color:rgb(116, 116, 116);
    border-radius: 10px 0 0 10px;
    margin-left: 0;
}

.about_info p{
    margin: 0 1% 0 8%;
    font-size: 1.2rem;
}

.about_info .fa-solid{
    font-size: 50px;
    color: #f1f1f1;
    line-height: 100px;
}

.play_button{
    margin: 5% 8%;
    display: flex;
    flex-direction: row;
}

.play_button p{
    margin-left: 90px;
    display: inline; 
    padding-top: 5%;
}

.play_btn_animation{
    color: #f69332;
    font-size: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    /* right: 0; */
    top: 0;
    bottom: 10;
    margin: auto;
    text-align: center;
    border-radius: 50%;
}

.play_btn_animation:before, .play_btn_animation:after{
    content: "";
    position: absolute;
    border: 2px solid #ccc;
    border-radius: 50%;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    animation: animate 2s linear infinite;
    opacity: 0;
}

.play_btn_animation:after{
    animation-delay: 0.5s;
}

@keyframes animate {
    0%
    {
        transform: scale(.5);
    }
    50%
    {
        opacity: 1;
        transform: scale(.5);
    }
    100%
    {
        transform: scale(1.5);
    }
}

.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer video{
    max-width: 900px;
    outline: none;
}

.close{
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
    filter: invert(i);
    max-width: 24px;
}

.contact, .about{
    width: 100%;
    height: 90vh;
    /* background: linear-gradient(270deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/wave-haike.png) no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.accordion{
    color: #909090;
}

.accordion .accordion-item{
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded="true"]{
    border-bottom: 1px solid #f69332;
}

.accordion button{
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em;
    color: rgba(202,206,221,.8);
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus{
    cursor: pointer;
    color: #f1f1f1;
}

.accordion button:hover::after,
.accordion button:focus::after{
    cursor: pointer;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
}

.accordion button .accordion-title{
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon{
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid ;
    border-radius: 22px;
}

.accordion button .icon::before{
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after{
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded="true"]{
    color: #f1f1f1;
}

.accordion button[aria-expanded="true"] .icon::after{
    width: 0;
}

.accordion button[aria-expanded="true"] + .accordion-content{
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p{
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}


.contact{
    flex-direction: column;
    /* background: linear-gradient(270deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/wave-haike.png) no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.about_container h1, .faq h1, .contact h1, .categories h1{
    margin: 0% 0 5%;
    border-bottom: 3px solid #f69332;
    width: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-transform: uppercase;
}

.contact h1{
    width: 35%;
}

.categories h1{
    width: 7% ;
}

.h1_centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 400px;
    padding: 20px;
    border-top: 1px solid hsla(0,0%,100%,0.1);
    background-color: #000;
    display: flex;
    justify-content: center;
}

.footer_div h5{
    text-align: left;
}

.footer_div{
    padding: 2% 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigate, .links, .reach_us{
    width: 30%;
}

.footer_div ul{
    padding-left: 0;
}

.footer_div ul li{ 
    text-decoration: none;
    padding: 10px;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid #262c44;
}

.footer_div ul a{
    text-decoration: none;
    color: #f1f1f1;
    background-color: transparent;
    font-size: 14px;
    font-weight: normal;
}

.footer_div ul i{
    font-size: 17px; 
    padding: 0; 
    margin: 0;
    height: 0;
}

.footer_div h5{
    border-bottom: 2px solid #f69332;
    padding-bottom: 5px;
    margin: 0;
}

.reach_us i
{
    font-size: 17px;
    height: 0;
}

.reach_us{
    text-align: left;
} 

.socials{
    display: flex;
    flex-direction: row;
}

.socials h6 i{
    padding: 0 10px;
    font-size: 22px;
}

.socials h6 i:hover{
    color: #f69332;
}

.copyright{
    width: 100%;
    height: 100px;
    padding-top: 30px;
}

.copyright a{
    text-decoration: none;
    color: #f1f1f1;
}

#particles-js{
    height: 90vh;
    position: relative;
}



.accordion-item{
    background-color: transparent;
}









/* media queries */
@media screen and
(max-width: 600px) {
    .navMenu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navBarContent label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    
    #toggler:checked ~ .navMenu{
        max-height: 100%;
    }
}   
