
body {
     text-align: center; 
     background-color: #ffffff;
     max-width: max-content;
    }

    .biglogo{
        max-width: 80%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }